.TodoItem{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.TodoItem input {
  width: 20px;
  height: 20px;
}

.completed {
  color: lightgray;
  text-decoration: line-through black;
}