.UserDialog-Wrapper {
  position: fixed;
  top:0;
  left:0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.UserDialog {
  background: white;
  padding: 2rem;
  border-radius: 5px;
}

.UserDialog nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}


.UserDialog .row {
  padding: 1rem;
}
.UserDialog .row label {
  margin-right: 2rem;
}
.UserDialog .row:first-child label {
  margin-right: 1rem;
}
.UserDialog .row input {
  border-radius: 4px;
  outline: none;
  background: #eeeeee;
}
.actions {
  text-align: center;
}
.actions button {
  padding: .5rem 1rem;
  border-radius: 4px;
  background: #5dba5d;
  color: white;
  font-size: 1rem;
  outline: none;
}
.actions button:hover {
  box-shadow: 1px 1px 1px  #5dba5d;
}